ul,
li,
button,
p,
select,
input,
option {
  all: unset;
}

ul,
li,
option,
select,
div {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: "Helvetica_Neue_Bold";
  src: url("/fonts/HelveticaNeue/Helvetica Neu Bold.ttf");
}

@font-face {
  font-family: "Helvetica_Neue_Light";
  src: url("/fonts/HelveticaNeue/HelveticaNeue Light.ttf");
}

:root {
  --bold: "Helvetica_Neue_Bold", sans-serif;
  --light: "Helvetica_Neue_Light", sans-serif;
  --yellow: #fad338;
  --dark-yellow: #f2bc07;
  --light-black: #111110;
  --two-tone-dark: linear-gradient(#0b0e11, #0c0c0c);
  --box-shadow: 0 0 1px 1px var(--yellow);
  --max-width: 1300px;
  --columns: repeat(5, 1fr);
}

@media (max-width: 1300px) {
  :root {
    --columns: repeat(4, 1fr);
  }
}
@media (max-width: 812px) {
  :root {
    --columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  :root {
    --columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  :root {
    --columns: repeat(1, 1fr);
  }
}

body {
  background: var(--two-tone-dark);
  color: rgb(234, 236, 239);
  font-family: var(--light);
}

button {
  padding: 0.5rem;
  background-color: var(--light-black);
  border-radius: 3px;
}
