.pagination-and-per-page {
  display: flex;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem 0;
  gap: 2rem;
}

.per-page {
  background-color: var(--light-black);
  width: fit-content;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 3px;
}

.per-page option {
}
