.pagination-and-per-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem 0;
}

.per-page {
  background-color: var(--light-black);
  width: fit-content;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 3px;
}
